.secrets{
    background-color: rgb(29, 194, 7);
    background-image: url(2274749);
    color: rgb(52, 53, 5);
    text-align:center ;
    font-size: medium;
    font-stretch: condensed;
}
p{font: size 40px;
    padding: 25px;
    margin: 20px  ;
    border: 10px solid black;
}

.navigation{
    display: flex;
    background-color: rgba(0, 0, 0, 0.925);
    overflow-x: scroll; 
}
.navigation::-webkit-scrollbar {
    display: none;
}

.navigation>li {
    color: rgb(255, 255, 255);
    margin-right: 10px;
    list-style: none;
    text-wrap: nowrap;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
}
.navigation >li:hover{
    background-color: rgb(194, 55, 13);
}

